### Query sqlite

### 1- Importation des packages

In [26]:
# Base de données 
import pandas as pd # pour lire et analyser des tableaux de données(fichiers Excel, CSV…)
import numpy as np # pour faire des calculs numériques rapides et manipuler des tableaux de nombres.
import sqlite3  ### permet de lire et ecrire des query 

# Dataviz
import matplotlib.pyplot as plt # pour créer des graphiques simples
import seaborn as sns # pour faire des visualisations de données plus jolies et détaillées
import plotly.express as px # Pour des visuel intéractif 
# Statistiques
import scipy.stats as stat # pour réaliser des analyses statistiques (moyenne, test de corrélation...)

# lecture des urls et api 
import requests   ### pas utiliser car c'est pour lire les données issue des urls ou api

2- Importation des fichiers csv via le google drive

In [ ]:
# 1- Définir les variables 
chemin_fichier_magasin = r"G:\Mon Drive\Brief projet simplon\BDD\magasins.csv"
chemin_fichier_produit  = r"G:\Mon Drive\Brief projet simplon\BDD\produits.csv"
chemin_fichier_vente  = r"G:\Mon Drive\Brief projet simplon\BDD\ventes.csv"

In [ ]:

# 2. Stockage des données dans un df 
df_magasin = pd.read_csv(chemin_fichier_magasin)
df_produit = pd.read_csv(chemin_fichier_produit)
df_vente = pd.read_csv(chemin_fichier_vente)

In [33]:
# 3- Lecture des df pour vérification
df_magasin

   id_magasin       ville  nombre_de_salaries
0           1       Paris                  10
1           2   Marseille                   5
2           3        Lyon                   8
3           4    Bordeaux                  12
4           5       Lille                   6
5           6      Nantes                   7
6           7  Strasbourg                   9

In [34]:
# 3- Lecture des df pour vérification
df_produit

         nom id_reference_produits   prix  stock
0  Produit A                REF001  49.99    100
1  Produit B                REF002  19.99     50
2  Produit C                REF003  29.99     75
3  Produit D                REF004  79.99    120
4  Produit E                REF005  39.99     80

In [35]:
# 3- Lecture des df pour vérification
df_vente

          date id_reference_produits  quantite  id_magasin
0   2023-05-27                REF001         5           1
1   2023-05-28                REF002         3           2
2   2023-05-29                REF003         2           1
3   2023-05-30                REF004         4           3
4   2023-05-31                REF005         7           2
5   2023-06-01                REF001         3           4
6   2023-06-02                REF002         6           1
7   2023-06-03                REF003         1           5
8   2023-06-04                REF004         2           3
9   2023-06-05                REF005         5           6
10  2023-06-06                REF001         4           7
11  2023-06-07                REF002         3           2
12  2023-06-08                REF003         6           4
13  2023-06-09                REF004         2           1
14  2023-06-10                REF005         8           3
15  2023-06-11                REF001         3           2
16  2023-06-12                REF002         5           4
17  2023-06-13                REF003         2           5
18  2023-06-14                REF004         4           7
19  2023-06-15                REF005         6           6
20  2023-06-16                REF001         3           1
21  2023-06-17                REF002         7           2
22  2023-06-18                REF003         2           3
23  2023-06-19                REF004         5           4
24  2023-06-20                REF005         4           5
25  2023-06-21                REF001         6           6
26  2023-06-22                REF002         3           7
27  2023-06-23                REF003         2           1
28  2023-06-24                REF004         4           2
29  2023-06-25                REF005         5           3